.route-title {
  margin-top: 100px;
}
.navbar {
  transition: all 0.4s;
}

  .navbar .nav-link {
      color: #555;
  }

      .navbar .nav-link:hover,
      .navbar .nav-link:focus {
          color: #8d0404;
          text-decoration: none;
      }

  .navbar .navbar-brand {
      color: #555;
  }

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-shadow {
  background: #c0b3b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


