<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="this page make by xlar about please subscribe and suppot "/>
        <meta name="author" content="" />
        <title>xlar about yt </title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
       <!-- xlar about yt //biswajit  -->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body id="page-top">
  <!-- Navigation-->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link" href="#portfolio">profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav> -->
  <!-- Masthead-->
  <header class="masthead" style="background-image: url('assets/img/header-bg.jpg')">
    <div class="container">
      <div class="masthead-subheading">Welcome To ICM Odivelas</div>
      <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
      <!-- <a class="btn btn-primary btn-sm text-uppercase" href="#services">Book Now</a> -->
    </div>
  </header>
  <section class="maranata-section">
    <div class="container">
      <h2>Sobre a Igreja Cristã Maranata</h2>
      <p>A Igreja Cristã Maranata é uma igreja evangélica de orientação reformada, fundada no Brasil em 1968. Seu nome, "Maranata", vem do termo aramaico que significa "O Senhor vem" ou "Vem, Senhor Jesus" e reflete a ênfase da igreja na segunda vinda de Cristo.</p>
      <p>A igreja tem como base de fé e prática os princípios do cristianismo bíblico, buscando seguir os ensinamentos de Jesus Cristo e alicerçar-se na autoridade das Sagradas Escrituras. A Maranata enfatiza a importância da salvação pela graça mediante a fé em Jesus, a vida santificada pelo Espírito Santo e a edificação da igreja através dos dons espirituais.</p>
      <p>Com uma abordagem missionária, a Igreja Cristã Maranata tem se expandido para diversas regiões do Brasil e para outros países ao redor do mundo. Seus membros são encorajados a viver uma vida cristã comprometida, engajando-se em atividades de adoração, estudo bíblico, evangelismo e obras sociais.</p>
      <p>Nesta seção, apresentamos alguns cards com informações relevantes sobre iniciativas e ministérios da Igreja Cristã Maranata. Cada card representa uma oportunidade de conhecer e se envolver com diferentes aspectos do trabalho realizado pela igreja.</p>
      <p>Esperamos que esses recursos sejam úteis para você obter mais informações e se conectar com a comunidade da Igreja Cristã Maranata.</p>
    </div>
  </section>
  <section>
    <!--========== Cards ==========-->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card custom-card-style h-100">
              <button type="button" class="btn btn-outline-secondary custom-button-style">
                  <a href="https://igrejacristamaranata.pt/">
                      <img src="./assets/img/icm4.jpg" class="card-img-top custom-card-image" alt="Imagem do card">
                  </a>
              </button>
              <div class="card-body">
                  <h5 class="card-title">ICM - Portugal</h5>
                  <p class="card-text">
                      "Guardando o mistério da Fé..."
                      Lema 2022
                  </p>
              </div>
              <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card custom-card-style h-100">
              <button type="button" class="btn btn-outline-secondary custom-button-style">
                  <a href="https://radiomaanaim.com.br/">
                      <img src="./assets/img/radiomaanaim.jpg" class="card-img-top custom-card-image" alt="Imagem do card">
                  </a>
              </button>
              <div class="card-body">
                  <h5 class="card-title">Rádio Maanaim</h5>
                  <p class="card-text">
                      O portal da Rádio Maanaim tem a responsabilidade de anunciar, através de suas publicações, que o Senhor Jesus vem!
                  </p>
              </div>
              <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card custom-card-style h-100">
              <button type="button" class="btn btn-outline-secondary custom-button-style">
                  <a href="https://www.ciasmaranata.org.br/">
                      <img src="./assets/img/cias 3.png" class="card-img-top custom-card-image" alt="Imagem do card">
                  </a>
              </button>
              <div class="card-body">
                  <h5 class="card-title">CIAS Maranata</h5>
                  <p class="card-text">
                      Site Oficial da Igreja Cristã Maranata do Trabalho de Crianças, Intermediários e Adolescentes.<br>
                      “Instrui ao menino no caminho em que deve andar, e até quando envelhecer não se desviará dele." Pv 22:6
                  </p>
              </div>
              <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
          </div>
      </div>
  </div>
</div>
  </section>

  <script>

window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

});

  </script>
</body>
</html>

